<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Countries Twitter Stats</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/radum/twitter-stream-demo-webapp">Source</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p>Total number of countries: <mark>{{total}}</mark> <small>(the counter increments if someone tweets the country name)</small></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="items-container">
                {{#each rankings}}
                <div id="country-{{id}}" class="item">{{name}} <span id="score-{{id}}" class="badge pull-right">{{score}}</span></div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
